<!DOCTYPE html>
<style>
    h1{font-size: 40pt;font-family: 'Lucida Sans'; color:cornflowerblue;}
    .T1{font-family:'Arial';}
    *{text-align: center;}
</style>
    <head>
        <title>깔깔깔 Quiz-answer1</title>
    </head>
    <body>
        <header>
            <div><h1><strong>깔깔깔 Quiz</strong></h1></div>
        </header>
        <article>
            <p class=T1>
                <STRONG>Answer</STRONG>
                <br>
                <br>이 대형 트럭은 폭설 지대를 달리고 있었고
                <br>차 위에 많은 눈이 쌓였기 때문이다.
            </p>
        </article>
    </body>
</html>