<!DOCTYPE html>
<style>
    h1{font-size: 40pt;font-family: 'Lucida Sans';color:cornflowerblue;}
    .T1{font-family:'Arial';}
    *{text-align: center;}
</style>
    <head>
        <title>깔깔깔 Quiz-answer3</title>
    </head>
    <body>
        <header>
            <div><h1><strong>깔깔깔 Quiz</strong></h1></div>
        </header>
        <article>
            <p class=T1>
                <STRONG>Answer</STRONG>
                <br>
                <br>비텐더가 손님의 딸꾹질을 멈추게 해주었기 때문이다.
            </p>
        </article>
    </body>
</html>