<!DOCTYPE html>
<style>
    h1{font-size: 40pt;font-family: 'Lucida Sans';color:cornflowerblue;}
    .T1{font-family:'Arial';}
    *{text-align: center;}
</style>
    <head>
        <title>깔깔깔 Quiz-answer2</title>
    </head>
    <body>
        <header>
            <div><h1><strong>깔깔깔 Quiz</strong></h1></div>
        </header>
        <article>
            <p class=T1>
                <STRONG>Answer</STRONG>
                <br>
                <br><strong>60</strong>
                <br>세 가지 등식을 가로로 길게 풀면 
                <br>2+2+2+2+22+2+2+2+22+2x0+2가 된다.
                <br>즉, 8+22+6+22+0+2=60
            </p>
        </article>
    </body>
</html>